[2016-10-19 18:21] grahamehorner opened #2 "Please consider adding none iis azure deployments"
please adding functionality for none iis azure deployment like kestrel on nanoserver/linux etc.

[2016-10-19 23:42] halter73 commented on #2
@grahamehorner We have [linux production guidance](https://docs.asp.net/en/latest/publishing/linuxproduction.htm) which recommends using a reverse proxy like nginx.

We also have [guidance for Nano Server](https://blogs.iis.net/adminapi/microsoft-iis-administration-on-nano-server) that uses IIS with ANCM.

[2016-11-15 23:47] itsfelipesan opened #3 "Is the Azure Storage working with .NET Core?"
I'm trying to use the Azure Starage with .NET Core 1.1, but the project is getting errors of dependencies.
I can't use the `"WindowsAzure.Storage": "7.2.1"` dependency.

That's my project.json

[code]

[2016-11-22 16:58] GuardRex commented on #3
@itsfelipesan Try adding an `imports` for ...
[code]

[2016-11-22 17:03] GuardRex opened #4 "Feature Request: ANCM logging activation in the portal/package"
I worked through another app startup issue on Slack that required activation of the ANCM logging with an Azure App. Is it on the roadmap to add a switch in the Azure App's Diagnostics logs panel and bits to the package that will allow devs to flip a switch and get ANCM logging without having to update `web.config` (and perhaps even without having to set the log path)?

[2016-11-28 18:44] muratg commented on #4
That's a cool idea. @shirhatti What do you think? Who do we need to follow-up internally for this?

cc @DamianEdwards

[2016-11-28 18:51] DamianEdwards commented on #4
When you say "ANCM logging", do you just mean its ability to capture stdout from the launched process and write that to a file? If so, that also requires the app to be have the console logger configured (in the app's code), making this a little more challenging. It's not impossible mind you, and we are investigating ways of allowing application hosts (like Azure) configure aspects of the `WebHost`

[2016-11-28 18:57] Tratcher commented on #4
This may also be a good place to implement a timeout that automatically turns the logging off. Not to mention having a simple way to delete the logs when you're done.

[2016-11-28 18:59] GuardRex commented on #4
The app doesn't require console logging when the ANCM fails to start the process and logs, correct? There is a class of exceptions that the ANCM can trap and report merely if the `stdoutLogEnabled` is enabled with a correct log path for Azure Apps. Those types of things ..... bad entries in `web.config` for example ... would be helpful.

[2016-11-28 19:03] Tratcher commented on #4
Those aren't the web.config enabled logs, those are event logs which are already captured by the portal.

[2016-11-28 20:02] GuardRex commented on #4
If you list an incorrect DLL for a portable app in the `arguments` of `web.config`, the event log (`Event Viewer > Application Log`) shows ...
[code]
That's fine, but that doesn't really tell you what you did wrong.

If you enable `stdoutLogEnabled="true"`, you get the stdout log, and it will show ...
[code]
It doesn't require console logging to be setup in the app. There are probably only three h

[2016-11-28 20:04] shirhatti commented on #4
Have a look at the [Azure App Service logging provider section](https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/) in this blog post.

If I'm not mistaken, production logging in the portal automatically turns off after a fixed timeout.

[2016-11-28 20:08] #4 closed

[2016-12-15 22:54] runxc1 opened #5 "Getting Information messages when set to Warning."
I have an Azure website that is running on Asp.Net Core 1.1.   The site is using the Extension "UseAzureAppService" (see below) to set up logging.   On the web application I have been able to turn on the "Application Logging(Blob)" under the Diagnostic logs and have set the level to warning.   The only problem is the log file is getting flooded by Information messages.   Is this an error in the co

[2016-12-16 15:29] runxc1 commented on #5
It appears that I am not the only one getting this Issue as it appears related to this issue

https://github.com/aspnet/Logging/issues/517

[2016-12-30 08:17] adrianMaersk commented on #3
I have the same problem, I can't use WindowsAzure.Storage": "7.2.1 with .Net standart 1.6.1

[2017-01-10 17:59] muratg commented on #5
@pakrym Could you investigate? If there's a bug, this is possibly a 1.1.1 fix.

[2017-01-10 18:03] muratg commented on #3
@itsfelipesan @adrianMaersk adding imports statement as @GuardRex recommended should work this.

@bleroy - do you know when this would be usable without imports? Could you chase folks as needed? :)

[2017-01-14 02:30] GuardRex commented on #3
IIRC this was related to OData, which still required the imports. OData is still baked into Azure Storage, but they plan to remove it at some point.

The last word from @markdstafford over at OData is https://github.com/OData/odata.net/issues/568#issuecomment-230068541

[2017-01-19 18:24] Eilon commented on #5
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-09 23:18] #5 closed

[2017-02-28 23:09] glennc commented on #3
We will fix this in 2.0. All the dependencies have been updated, but there are breaking changes in them so we will need to wait for 2.0 to update the version we depend on.

[2017-02-28 23:11] glennc opened #9 "Implement azure app services lightup package"
Once we implement https://github.com/aspnet/Hosting/issues/951

 we can implement a package that automatically wires up the azure logger if on Azure.

[2017-02-28 23:16] glennc commented on #3
Will be fixed by https://github.com/aspnet/Logging/issues/562

[2017-02-28 23:16] #3 closed

[2017-02-28 23:16] #2 closed

[2017-03-27 20:07] glennc opened #13 "AzureAppServices no longer implies IIS"
Today the UseAzureAppServices method implies IIS, and as such calls UseIISIntegration. With Linux Azure App Services that is no longer true.

We should consider removing UseIISIntegration from the UseAzureAppServices extension method.

[2017-03-28 04:00] Tratcher commented on #13
~~consider~~ We decided today to remove UseIISIntegration from UseAzureAppServices.

[2017-03-28 05:01] davidfowl commented on #9
@Tratcher is doing this one

[2017-03-29 18:41] Lutando opened #14 "Unable to install this package on my netcoreapp v 1.1"
I get the following when trying to install `Microsoft.AspNetCore.AzureAppServicesIntegration` into my aspnet core application. Simple steps to reproduce

1) File new project aspnet core
2) Add `Microsoft.AspNetCore.AzureAppServicesIntegration`

![image](https://cloud.githubusercontent.com/assets/1838141/24470617/e202fad6-14bf-11e7-9c4a-628dcf03a234.png)

[2017-03-29 18:56] GuardRex commented on #14
@Lutando Specify the `<PackageTargetFallback>` in your `csproj`, which will allow those packages to work.

[code]

[2017-03-29 20:09] Lutando commented on #14
Thanks a bunch :)

[2017-03-29 20:09] #14 closed

[2017-03-31 15:58] #9 closed

[2017-03-31 16:01] Tratcher commented on #13
https://github.com/aspnet/AzureIntegration/pull/15

[2017-03-31 16:01] #13 closed

[2017-03-31 17:35] Tratcher opened #16 "Create a lightup package for Application Insights"
https://github.com/Microsoft/ApplicationInsights-aspnetcore/blob/2fea547cc2fb4bf78d0f0cab0aec7138fa9617c0/src/Microsoft.ApplicationInsights.AspNetCore/Extensions/ApplicationInsightsWebHostBuilderExtensions.cs#L18

[2017-04-03 21:13] #16 closed

[2017-04-03 22:58] Tratcher opened #18 "Rename *Lightup to TargetFeature.HostingStartup"
Microsoft.AspNetCore.ApplicationInsightsLightup => ApplicationInsights.HostingStartup
Microsoft.AspNetCore.AzureLightup => AzureAppServices.HostingStartup

[2017-04-03 23:00] Tratcher commented on #18
@davidfowl also wants the class names changed like AzureStartupLoader to something more like the package name.

[2017-04-05 22:46] #18 closed

[2017-04-05 22:51] JunTaoLuo opened #20 "Update version of Microsoft.ApplicationInsights.AspNetCore"
This dependency depends on Hosing 1.0.0, we will need to update to a new version that targets our 2.0.0 packages.

[2017-04-07 19:06] muratg opened #21 "Azure App Sites siteextension work"
- Add siteextension project to the repo
- Build with CI

cc @glennc

[2017-04-10 17:51] glennc commented on #21
https://github.com/glennc/site_extension

[2017-04-10 17:54] Tratcher commented on #21
Consider putting it in the https://github.com/aspnet/MetaPackages repo (or its own repo) instead, as the site extension primarily depends on the output of the package cache metapackage. The site extension does not directly depend on any of the components in this repo.

[2017-04-11 20:36] Tratcher commented on #21
Name: Microsoft.AspNetCore.AzureAppServices.SiteExtension
Docs:
https://azure.microsoft.com/en-us/blog/azure-web-sites-extensions/

[2017-04-13 22:57] Tratcher commented on #21
https://azure.microsoft.com/en-us/blog/writing-a-site-extension-for-azure-websites/

[2017-04-14 21:57] Tratcher commented on #21
Initial checkin and packaging complete. Xdt.Extensions needs tests.

[2017-04-17 17:40] Tratcher opened #23 "Automate lightup deps file generation"
We need deps files for:
Microsoft.AspNetCore.ApplicationInsights.HostingStartup
Microsoft.AspNetCore.AzureAppServices.HostingStartup

We want these to be automatically generated as part of the build and then integrated into the correct folder structure in the package cache installer.

[2017-04-19 20:13] Eilon opened #25 "Add MVC tag helper component to render Application Insights JavaScript"
The component also needs to be registered in the DI container so that the built-in head/form tag helpers in MVC will render the Application Insights JavaScript.

cc @DamianEdwards @pakrym

[2017-04-20 20:45] #23 closed

[2017-04-20 21:29] DamianEdwards opened #26 "Application Insights logging configuration via Microsoft.AspNetCore.ApplicationInsights.HostingStartup"
When Application Insights is enabled in an app via `Microsoft.AspNetCore.ApplicationInsights.HostingStartup` it needs to enable the AppInsights logger provider by default with the following categories & levels:

Category | Level
--- | ---
Default | Information
System.* | Warning
Microsoft.* | Warning

Additionally, it needs to add a JSON file configuration provider pointing to an (optional) file c

[2017-04-25 22:21] Eilon commented on #25
Close?

[2017-04-25 22:24] #25 closed

[2017-04-27 19:52] glennc commented on #20
AppInsights feed https://www.myget.org/F/applicationinsights/api/v3/index.json

There is a 2.1.0-beta2 available there now. @JunTaoLuo @muratg Presumably we need to get this ingested now if it goes in the store.

[2017-04-27 20:30] glennc opened #32 "License and Project URL missing from SiteExtension"
![image](https://cloud.githubusercontent.com/assets/234688/25503018/abb71648-2b4d-11e7-9ea7-2c8e7d23b74b.png)

[2017-04-27 20:42] Eilon commented on #32
Link to the Apache license in this repo (use the release-specific URL, not the one in 'dev').

[2017-04-27 20:43] Eilon commented on #20
@kichalla - is this something we can mirror in our mirror task? I don't want to add a dependency on another team's MyGet feed from within this repo.

[2017-04-27 20:57] kichalla commented on #20
Yes we can add it.

[2017-04-27 21:24] kichalla commented on #20
It's part of the mirror now. So we can probably close this issue.

[2017-04-27 21:53] Eilon commented on #20
It's worth noting that the original thing @JunTaoLuo mentioned is this:

And this new mirroring doesn't fix that. However, that's ok - we don't need AppInsights to update their Hosting dependency.

But, to close this issue, we need to actually update the code in this repo to use the new AppInsights packages.

[2017-04-27 21:53] Eilon commented on #20
Assigning to @pakrym for Preview1.

[2017-04-27 21:54] DamianEdwards commented on #20
Do we have a plan in place to ingest updates?

[2017-04-27 21:54] Eilon commented on #20
And actually, even after taking that new dependency, let's keep this bug open, because we need to wait for the final build of App Insights RTM as well for Preview 1.

[2017-04-27 21:54] DamianEdwards commented on #20
*snap*

[2017-04-28 19:22] glennc opened #35 "Add back UseIISIntegration until ANCM is updated and deployed"
UseAzureAppServicesIntegration should still call UseIISIntegration until we have updated ANCM

[2017-04-29 05:43] mikeharder opened #37 "Address package downgrade warnings"
The latest build of `UniverseCoherence\2.0.0-preview1` (24826) contains package downgrade warnings in this repo.  All downgrade warnings are related to `Microsoft.ApplicationInsights.AspNetCore`.

http://aspnetci/viewLog.html?buildId=214456&tab=buildResultsDiv&buildTypeId=UniverseCoherence

[code]

[2017-05-01 19:44] Tratcher opened #38 "Have the build set license, icon, and project urls for SiteExtension"
https://github.com/aspnet/AzureIntegration/issues/32
AzureAppServices.SiteExtension is a package we do not ship to nuget.org, it goes to the site extension gallery instead. Because it's marked as no-ship, the build does not stamp it with standard attributes like licenseUrl, iconUrl, and projectUrl. These have been hardcoded for now, but we should update the build to accommodate this package. We ha

[2017-05-01 21:05] Tratcher opened #39 "Remove NETStandard.Library dependency from Microsoft.Web.Xdt.Extensions"
NETStandard.Library is pulled in by common.props but Microsoft.Web.Xdt.Extensions is a .NET 4.5.1 library only and doesn't need it.

[2017-05-01 22:32] muratg commented on #39
Do we want to do this in preview1? IOW, is anything broken, or is this clean-up?

[2017-05-01 22:35] Tratcher commented on #39
Nothing's broken that we're aware of, but the dependency leaks to our site extension and to app insight's site extension.

[2017-05-01 22:45] #32 closed

[2017-05-02 00:51] mikeharder opened #41 "Unskip ApplicationInsightsLoggingTest.ScriptInjected"
Test was skipped to unblock build.  I suspect the fix is for AzureIntegration to react to https://github.com/aspnet/Hosting/commit/3936bf64f6edf8a1e3cca8f6e248f60c073b312d.

[2017-05-02 04:38] DamianEdwards commented on #20
FYI there is an issue with the 2.1.0-beta2 package: https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/416

[2017-05-02 17:33] pakrym commented on #26
Current problems:
- [ ]  If user adds own AI logger and want to change it's settings via `appsettings.json` he will not be able to because `IHostingStartup` adds it's configurations sources after `appsettings.json` is added.
- [ ] If user does not use our default web host builder and does not wire `Logging` section of global `IConfiguration` to `LoggerFactory` he would get everything sent to AI li

[2017-05-02 20:09] mikeharder opened #43 "Test Failures: ApplicationInsights.HostingStartup.Tests.dll"
ApplicationInsights.HostingStartup.Tests.dll is failing on OSX-Universe and Ubuntu-Universe for preview1.

[code]

[2017-05-02 23:19] BrennanConroy opened #45 "Don't force lift dependencies in Microsoft.AspNetCore.ApplicationInsights.HostingStartup"
Figure out what to do in `Microsoft.AspNetCore.ApplicationInsights.HostingStartup`, the `Microsoft.ApplicationInsights.AspNetCore` package currently targets `1.0.0` of our stuff, this can cause issues which is why we lifted dependencies in this package.

[2017-05-02 23:45] BrennanConroy commented on #41
Fixed in https://github.com/aspnet/AzureIntegration/pull/33

[2017-05-02 23:45] #41 closed

[2017-05-02 23:49] pakrym commented on #43
Fixed by https://github.com/aspnet/AzureIntegration/pull/44

[2017-05-02 23:49] #43 closed

[2017-05-04 21:42] Tratcher commented on #38
We also have to change the build so that the nuspec does not have the `serviceable` or `repository` attributes. SiteExtensions.net uses an old version of nuget (2.8?) that does not allow extra properties beyond the schema. We may just have to build the package directly from a hardcoded nuspec.

[2017-05-04 22:20] Tratcher commented on #39
AppInsights is broken by this:
[code]

[2017-05-04 22:52] muratg commented on #39
So is the fix only removing NETStandard.Library?  And it's almost no-risk since this is only supposed to run in .NET Framework. Let's do this and unblock AppInsights.

cc @Eilon

[2017-05-04 23:07] Tratcher commented on #39
I removed it manually from the signed package. They won't pick up a new build until we have the signing figured out.

[2017-05-08 17:17] muratg commented on #38
Manually done for preview1. Will automate in preview2.

[2017-05-08 17:18] muratg commented on #21
Will add tests in preview2.

[2017-05-08 17:43] pakrym commented on #20
Fixed by https://github.com/aspnet/AzureIntegration/pull/46

[2017-05-08 17:43] #20 closed

[2017-05-08 17:46] #26 closed

[2017-05-16 18:59] natemcmaster commented on #38
Some properties KoreBuild sets that may help with automating the licence URL: `$(GitBranch)`, `$(CommitHash)`, `$(VersionPrefix)`

[2017-05-16 19:05] #39 closed

[2017-05-18 19:02] Tratcher opened #51 "Add tags and package type to SiteExtension package"
We're going to dogfood moving the migration of site extension packages from sitextensions.net to nuget.org. This will help address the issues with nuget versions (https://github.com/aspnet/AzureIntegration/issues/38#issuecomment-299317424).

"The site extension packages will be stamped with both the AzureSiteExtension Package Type, and with an AzureSiteExtension tag" - David Ebbo

[2017-05-19 02:57] #51 closed

[2017-05-23 22:30] anurse opened #54 "HostingStartup light-up changes AKA detectoid"
A few proposed changes to HostingStartup after some discussions with Damian:

1. Add HostingStartup packages to Microsoft.AspNetCore.All
2. Make HostingStartup packages reference their dependencies with `PrivateAssets=compile` to avoid exposing the APIs unintentionally (side note: verify that manually referencing the package **does** bring in the APIs)
3. For each HostingStartup package, build a "

[2017-05-23 22:36] anurse commented on #54
Note for isolation: The hoster could always load the library up in an out-of-proc container of some kind (or an AppDomain in VS).

[2017-05-23 22:45] anurse commented on #54
New thought: We ship these detectoids as NuGet packages, but not part of the runtime store or metapackage. Hosts (VS, Azure, etc.) just reference these packages directly (rather than looking for them in a magic directory).

Additionally, we could just put the additional deps files in those NuGet packages.

[2017-05-24 21:50] Tratcher opened #55 "HostingStartup packages should reference their dependencies with PrivateAssets=compile"
https://github.com/aspnet/AzureIntegration/issues/54
Microsoft.AspNetCore.ApplicationInsights.HostingStartup
Microsoft.AspNetCore.AzureAppServices.HostingStartup

[2017-05-24 21:54] muratg commented on #55
Per the discussion https://github.com/aspnet/MetaPackages/issues/125 will be enough (where the metapackage will have the dependency with PrivateAssets=compile.)

[2017-05-25 23:59] danroth27 opened #57 "Azure Key Vault light up"
Light up Key Vault config provider and Key Vault signing credential

Light up implementation
-	New package in the AzureIntegration repo
-	Implement IHostingStartup that adds signing credential provider and config provider (data protection post 2.0)
-	Needs to generate deps file
-	The entire package graph then needs to ship (key vault SDK already in there)
-	Add to the meta package
-	Add hosting st

[2017-05-26 00:57] DamianEdwards opened #58 "Re-target Microsoft.Web.Xdt.Extensions & SiteExtension to net461"
Unless there's a specific reason for us to target a lower .NET Framework version, we should stay consistent with our other cross-targeted components and target `net461`.

@glennc @Tratcher @muratg

[2017-05-26 05:06] Tratcher commented on #58
We'll have to coordinate this with AppInstights.

[2017-05-30 18:05] #58 closed

[2017-05-31 23:48] pakrym commented on #57
@muratg

[2017-06-01 17:50] muratg commented on #57
@danroth27 when do we want to do this?

cc @DamianEdwards

[2017-06-01 22:10] danroth27 commented on #57
@mlorbetske  We want to do this as part of the 2.0 wave. I'd love to preview an end-to-end experience for preview2, but we would need to make available both the key vault light up piece and the key vault provisioning tooling. Realistically I think this will be post preview2.

[2017-06-05 16:24] Tratcher commented on #21
@muratg  this can move to preview3, we're not updating the extension for preview2.

[2017-06-05 16:24] Tratcher commented on #38
@muratg this can move to preview3, we're not updating the extension for preview2.

[2017-06-08 21:19] muratg commented on #55
We decided not to do this.

[2017-06-08 21:19] #55 closed

[2017-06-08 21:22] muratg commented on #35
@shirhatti what should we do about this bug?

[2017-06-08 21:26] shirhatti commented on #35
Call `.UseIISIntegration()` till we have confirmation that from @davidebbo that the latest ANCM (1981) has finished deploying in all regions.

[2017-06-08 21:33] muratg commented on #35
So do we keep it in for Preview2? (Which we're trying to close and go into escrow by tomorrow)

[2017-06-08 21:37] shirhatti commented on #35
Yes. Keep the call.
@Tratcher can confirm that the call to `.UseIISIntegration()` is idempotent, so I wouldn't mind a duplicate call as opposed to relying on the deployment to go out in time for preview2

[2017-06-08 21:38] Tratcher commented on #35
Yes it's idempotent.

[2017-06-19 17:20] Eilon commented on #38
BTW the URLs currently used in the site extension are HTTP, but they should be HTTPS. However we do this work, let's make sure it's the HTTPS URLs (which are available).

[2017-06-19 17:23] Eilon opened #63 "Site extension shows up as installed, but keeps asking to be installed with the "+" button"
I have the ASP.NET Core site extension "installed" in my app, but the "+" button still appears, which indicates it isn't fully installed.

![image](https://user-images.githubusercontent.com/202643/27297298-252d3a8e-54d9-11e7-9388-87b5eedfd9ce.png)

Perhaps the fix would be to have the site extension have a minimal UI (even just a static HTML page) that says what it is, the version, what it's for,

[2017-06-26 15:57] pakrym opened #64 "Verify that AI lightup logger filter rules is composed correctly with appsettings.json"
Required layering:
1. AI defaults
2. AI setting.json file
3. appconfig.json

[2017-06-27 20:44] muratg commented on #21
Remaining work for 2.0.0: Tests.

[2017-06-27 20:48] muratg commented on #35
Removing bugs from 2.0.0 milestone. This is risky in a sense that hosters with the previous ANCM deployments would be broken with this update.

[2017-06-27 20:49] muratg commented on #37
@mikaelm12 Please take a look (in the dev branch)

[2017-06-27 20:50] muratg commented on #38
We won't be doing another deployment to siteextensions.net for 2.0.0 as per the POR. Moving this out to 2.1.

[2017-06-28 02:02] mikeharder commented on #37
Dup of https://github.com/aspnet/Coherence-Signed/issues/554

[2017-06-28 02:02] #37 closed

[2017-06-29 15:37] pakrym opened #66 "*.HostingStartup packages should target netcoreapp2.0"
I think it was accidentally change during netcoreapp2.0 -> netstandart2.0 conversion.

[2017-07-05 20:31] muratg commented on #64
@pakrym status?

[2017-07-05 20:37] pakrym commented on #64
https://github.com/aspnet/AzureIntegration/pull/69 this is part of it, we also need to get a build of AI that has https://github.com/Microsoft/ApplicationInsights-aspnetcore/pull/486 in

[2017-07-07 20:46] muratg commented on #64
@pakrym will this be in today, or Monday?

cc @Eilon

[2017-07-07 20:47] pakrym commented on #64
@DamianEdwards said next week

[2017-07-07 20:51] pakrym commented on #64
Manual verification/validation part. All PR's are in but we still need to ingest AI package as soon as they produce it.

[2017-07-07 22:21] muratg commented on #64
@Eilon This will happen Monday possibly.  cc @mikeharder as we'll need to ingest their packages.

cc @glennc to follow-up with AI folks as both @Eilon and me will be OOF.

[2017-07-12 18:56] pakrym opened #77 "ApplicationInsights.settings.json does not reload on change"

[2017-07-12 19:47] pakrym commented on #77
/cc @DamianEdwards

[2017-07-18 17:17] Eilon commented on #64
@pakrym @glennc @mikeharder - What's left here?

[2017-07-18 17:17] Eilon commented on #77
@pakrym @DamianEdwards - what's left here for 2.0 RTM?

[2017-07-18 17:32] pakrym commented on #64
@Eilon I was waiting for build of CLI with new AI package and out fixes to do verification on clean machine.

[2017-07-18 17:32] #77 closed

[2017-07-19 17:20] Eilon commented on #64
@pakrym ok - do we know when we'll have that? I would have thought that the AI in the CLI would be done by now, no?

[2017-07-19 17:38] pakrym commented on #64
@Eilon We have AI in VS light up bug now

[2017-07-19 17:44] pakrym commented on #64
@Eilon we can close this and do it as part of verification. I just want to make sure things work E2E without hacks.

[2017-07-19 20:36] Eilon commented on #64
@pakrym ok then please do so.

[2017-07-20 18:48] #64 closed

[2017-07-24 19:28] netsfx opened #79 "How to open TCP and UDP ports for asp.net core Azure Appservice deployment?"
I've got an asp.net core app deployed to as Azure Appservice. The web pages run without issues, but on Azure, the TCP and UDP port, where the app is listening too, are unreachable from outside so that clients cannot connect.

I cannot find any information how to resolve this. TCP 55556 and UDP 55555 must be reached from outside.

Also, I don't see any other fitting hosting opportunity I can use. E

[2017-07-27 23:47] cesarbs opened #81 "ApplicationInsightsHostingStartupSample is not binding to address passed by deployer in functional tests"
Leading to test failures:

[code]

[2017-07-28 16:49] natemcmaster opened #83 "Packaged deps.json file includes reference to internal assets"
The deps.json file bundled in Microsoft.AspNetCore.AzureAppServices.HostingStartup and Microsoft.AspNetCore.ApplicationInsights.HostingStartup includes references to Internal.AspNetCore.Sdk and Microsoft.AspNetCore.BuildTools.ApiCheck.

Solution:
Pack the deps.json file that comes from publish, not build. The publish step trims privateassets from the deps.json file.

[2017-07-28 22:28] #81 closed

[2017-07-31 16:14] BrennanConroy opened #84 "Consider grabbing environment variable when using InsertOrAppend"
@glennc @Tratcher

Currently if you add `DOTNET_ADDITIONAL_DEPS` or `ASPNETCORE_HOSTINGSTARTUPASSEMBLIES` as environment variables in the Azure Portal they are ignored if you have `Microsoft.AspNetCore.AzureAppServices.SiteExtension` enabled (which is on by default) because `InsertOrAppend` doesn't look at environment variables when inserting/appending

[2017-08-02 16:48] Tratcher opened #85 "Release a stable Microsoft.Web.Xdt.Extensions"
Microsoft.Web.Xdt.Extensions is shared with Application insights and bundled into both ours and their site extensions. They have asked us to release release a stable version, preferably to nuget.org as we don't have other hosts for stable packages.

It still needs some tests (https://github.com/aspnet/AzureIntegration/issues/21)  and has one possible bug with hiding environment variables (https://

[2017-08-16 11:15] martincostello opened #88 "JavaScriptSnippetTagHelperComponent breaks CSP in inline scripts require nonce"
I am in the process of upgrading a website to ASP.NET Core where I use a Content Security Policy that requires inline JavaScript to add a `nonce-...` attribute into the `<script>` tags because `unsafe-inline` is disallowed by the CSP to match a HTTP response header value for the current request.

The new `JavaScriptSnippetTagHelperComponent` dependency which is registered violates this as it does

[2017-08-23 18:26] muratg commented on #57
cc @javiercn

[2017-09-05 19:05] anurse opened #102 "Use Configuration system to get App Insights instrumentation key"
Right now, our HostingStartup calls `.UseApplicationInsights()`, which triggers the magic Instrumentation Key look-up that AI does here: https://github.com/Microsoft/ApplicationInsights-aspnetcore/blob/f696dd44f55055fad1774154219acf6c1e32c99b/src/Microsoft.ApplicationInsights.AspNetCore/Extensions/DefaultApplicationInsightsServiceConfigureOptions.cs#L29

However, if you are deploying to some envir

[2017-09-15 21:15] glennc commented on #84
The solution doesn't scale though, it will only work if we are the only extension using the custom transform. Our custom transform should take this into account.

[2017-09-20 19:31] pakrym opened #105 "Build site extensions package to consume latest runtime and ASP.NET Core"
Almost same thing as test bundle but without install script that copies old runtime.
Also we need a feed to push it too, this feed should also have ASP.NET packages that are included in site extensions.

[2017-10-03 21:27] Tratcher commented on #38
This is unblocked now. Azure is updating their site extensions infrastructure such that we can build these as normal up-to-date nupkg's. Changing the category from shipoob to ship should take care of most of these issues.

[2017-10-03 21:56] Eilon commented on #38
cc @natemcmaster because the categorization stuff is changed/changing. Be careful about 'ship' because this isn't in the metapackage and doesn't match other criteria for things that "ship," even though this does now go to NuGet.org.

[2017-10-03 22:01] Tratcher commented on #38
what criteria? inclusion in the metapackage is a different flag.

[2017-10-03 22:25] muratg commented on #38
Yup, see this: https://github.com/aspnet/Universe/blob/dev/build/artifacts.props

Though I agree with @Eilon that we should take a look to see if this affects other things (perhaps the LZMA?)

[2017-10-04 01:44] Eilon commented on #38
I don't know how this stuff works now (or before, really), but I want to make sure we don't cross any streams because we really don't want to get this wrong. What's worse, if we get it wrong in certain ways, we'd likely never notice until it's too late.

[2017-10-04 20:53] glennc opened #108 "Remove AppInsights reference from the HostingStartup package"
Explicitly depending on the app insights SDK from this package pins people using lightup to get new versions the same way. Because apps versions of things always win customers need to redeploy their app with a new version of the App Insights SDK if they want new features. Even though the point of this was that they never had to worry about app insights in their app.

It means we will need use thin

[2017-10-04 20:53] glennc commented on #108
@anurse

[2017-10-04 22:09] muratg commented on #108
@Eilon This is a patch candidate. @pakrym will be thinking about the implications and how to achieve this in addition to the scenarios we'd have to test.

[2017-10-05 20:13] glennc opened #109 "Write code to detect an ASP.NET Core and ASP.NET application"
It should be able to accept a file path and return some information about the app, at least whether or not it is an ASP.NET or ASP.NET Core app.

[2017-10-05 20:21] pakrym commented on #108
We are looking on two ways of accomplishing this task:
1. Adding `HostingStartup.Implementation` assembly, moving all current `HostingStartup` code to it  and calling into it using `Assembly.Load` and reflection from current `HostingStartup` that stays in `MetaPackage`. This

2. Removing `HostingStartup` from `MetaPackage` and keeping everything else as is.

No matter what we do we lose an ability

[2017-10-05 20:39] Tratcher commented on #108
Option 2 seems the simplest and has the same or fewer complications than option 1. Any reason not to do that one?

[2017-10-05 20:42] pakrym commented on #108
@Tratcher unexpected consequences of removing package from the graph that are hard to predict. I've tested options 2 with VS and it works fine. Have yet to test in Antares.

[2017-10-05 20:42] Tratcher commented on #109
I assume this is a standalone component? What's the TFM? This is for AI's site extension in Azure, correct? If so then the TFM should be NET461.

[2017-10-05 20:57] anurse commented on #108
If I remember correctly, the environment variables are set **before** the ones in `launchSettings.json` are applied, so in theory you could override the additional deps file when testing.

[2017-10-05 21:00] pakrym commented on #108
@anurse, yes, I meant by default

[2017-10-05 21:21] muratg commented on #109
@pakrym Any thoughts on this?  What would be a way to do this reliably?

[2017-10-05 21:43] muratg commented on #109
That's a good point -- @glennc what kind of reliability we want on this one?  Is it OK to sometimes misclassify a .NET Core app as a .NET app?  Or reverse is preferable?

[2017-10-05 22:24] pakrym commented on #108
To test option 2:
1. Took `AspNetCore.All 2.0.0` package modified it to have `2.0.1` version and removed hosting startups from package references.
2. Create `dotnet new razor` app and reference `ANC.All 2.0.1`
3. Build, verified that there is no ApplicationInsights in deps file.
3. Run in VS verify that AI works - ✔️ - both `DOTNET_ADDITIONAL_DEPS` and `ASPNETCORE_HOSTINGSTARTUPASSEMBLIES` injecte

[2017-10-05 23:27] Eilon commented on #108
I do logically prefer option (2).

[2017-10-05 23:30] pakrym commented on #108
I also did the same check for `Microsoft.AspNetCore.AzureAppServices.HostingStartup` and diagnostic log/log streaming works fine

[2017-10-05 23:30] davidfowl commented on #108
I will come back to this issue when this dependency removal bites us in the ass. For now we can go with 2 😄

[2017-10-05 23:46] glennc commented on #109
It is expected that it will not necessarily be 100% accurate. The intent is that we can do things like:

1. Run logic to show ANCM startup errors in the portal only when using ASP.NET Core
2. Show banners to lightup App Insights only when using .NET or .NET Core

@davidebbo might be best placed to talk about what TFM we should target in the app. I think the intent is that we effectively give him t

[2017-10-05 23:50] glennc commented on #108
The main reason we preferred 1 was that the dependency on the SDK is marked as exlcude build, the edge for the hosting startup is not. Meaning it is demonstrably safer to remove the SDK over the hosting package.

By doing 2 we are definately removing API that could be depended upon. Removing only the SDK can only break if someone is using reflection or some other means to load an assembly that hap

[2017-10-05 23:51] pakrym commented on #109
Why not detect presents of ANCM? It's very easy by just looking at web.config

[2017-10-05 23:55] pakrym commented on #108
@glennc in option 1 API's would also go away, there would be nothing in hosting startup except `ApplicationInsightsHostingStartup` class that reflects into third assembly. So if someone happened to use `JavaScriptSnippetTagHelperComponent`, they would still get broken.

[2017-10-05 23:57] glennc commented on #108
Then don't remove the JavascriptSnippet helper until a major version change. Just only actually load it in the other package.

It is definately easier to do 2, but it is also strictly more risky. We may be OK with that risk, but everyone should understand what we are doing. We are saying that we are OK with doing this only because of the type of code it is, and because we don't expect anyone to be

[2017-10-06 00:01] Eilon commented on #108
Sorry I misunderstood the options. Chatted with @glennc and apparently I prefer (1).

[2017-10-06 00:01] pakrym commented on #108
`JavaScriptSnippetTagHelperComponent` depends on AI SDK, so we would have another reflection point, and we have 3 AI SDK calls in total.

[2017-10-06 00:02] muratg commented on #108
@davidfowl, what's your recommendation instead?  There's a clear goal stated by @glennc on the issue text -- any ideas how to achieve that without it coming back to bite us?

[2017-10-06 00:09] davidfowl commented on #108
I prefer (1)

[2017-10-06 15:22] pakrym commented on #108
There are couple of issues with (1):
1. While we can leave existing classes in `HostingStartup` assembly we would need to reflect into ApplicationInsights to make them functional (to get instrumentation key for `JavaScriptSnippetTagHelperComponent`). If we are doing this we would have 2 reflection calls into other assemblies and we have 3 calls to AI all together right now, so instead we can just

[2017-10-06 15:49] anurse commented on #108
If we're going to do (1) to avoid removing public classes, then there's no point in doing the proxy thing. `JavaScriptSnippetTagHelperComponent` is public, so we'd need to make it a proxy as well. We might as well just proxy directly to AI.

These hosting startup types should never really have been `public` in the first place, and I think it's better to fix that cleanly now, before people start de

[2017-10-06 15:51] anurse commented on #108
It gets even scarier to keep this around when you realize we have a `public` class with a `public` constructor that references an AI type (`JavaScriptSnippet`): https://github.com/aspnet/AzureIntegration/blob/a2303c732f3dd2fd9437d9778f6d95c756fc3688/src/Microsoft.AspNetCore.ApplicationInsights.HostingStartup/JavaScriptSnippetTagHelperComponent.cs#L21

Better to make a clean cut now than try to hac

[2017-10-06 16:25] Eilon commented on #108
Clean cut in a patch? How do you mean?

[2017-10-06 16:42] glennc commented on #108
The `JavaScriptSnippetTagHelperComponent` objection is reasonable though, we would need to do a bit more then just 1. Make sure that no API referenced by normal package refs gets removed.

[2017-10-06 16:48] Eilon commented on #108
Yeah it might be extra work, but it's a patch, so if we do anything at all, we have to respect the rules of patches.

[2017-10-06 16:52] pakrym commented on #108
We would still have to remove public constructor from public class no matter what.

[2017-10-06 17:42] anurse commented on #108
Taking any version of this in the patch would be breaking the "rules of patches". Public APIs will need to be changed or removed.

[2017-10-10 16:29] pakrym opened #110 "Proposal: Lightup packages configuration scheme"
The only way to disable light up packages right now is to disable hosting startup support all together.  (https://github.com/aspnet/Home/issues/2051#issuecomment-318513988)

This proposal tries to spec the pattern to be used for current or future light up packages to enable user to control light-up feature in individual manner.

### Configuration source:
Light up should use environment variable co

[2017-10-10 19:41] Tratcher commented on #110
Side note: "ASPNETCORE_" env vars are already baked in.
https://github.com/aspnet/Hosting/blob/159a5f777ef932e1a8ebff3989080b1d7f621369/src/Microsoft.AspNetCore.Hosting/WebHostBuilder.cs#L46

This proposal seems contrary to the intent of lightup components. These components are being provided by your environment, your app isn't supposed to know or care about them. If people want to opt into or out

[2017-10-10 20:17] pakrym commented on #110
@Tratcher user can remove env vars provider in configureAppConfiguration callback: https://github.com/aspnet/Hosting/blob/159a5f777ef932e1a8ebff3989080b1d7f621369/src/Microsoft.AspNetCore.Hosting/WebHostBuilder.cs#L251

[2017-10-12 22:54] #38 closed

[2017-10-13 20:06] davidebbo commented on #109
I think detecting ANCM is a good start. Though it misses out on one key thing: the version on Core being used. Seems that this could be useful to have for the caller on the new API.

[2017-10-13 20:49] pakrym commented on #109
@davidebbo additional information can be retrieved by looking at `deps` and `runtimeconfig` files.

[2017-10-13 22:08] davidebbo commented on #109
Yep, that seems easy enough to go after. e.g. I see deps has:

[code]

And runtimeconfig has:

[code]

For my information, what's the difference between those two files, in term of conveying framework version?

[2017-10-16 16:52] pakrym commented on #109
`runtimeTarget` in deps file controls which branch of targets to read, `runtimeOptions` `framework` controls shared runtime to run on.

[2017-10-18 18:02] #21 closed

[2017-10-19 23:41] Eilon commented on #108
So... do we close this bug? We're not planning to do this in any patch, are we?

[2017-10-19 23:49] pakrym commented on #108
Not in patch, possibly 2.1?

[2017-10-20 04:07] muratg commented on #108
Putting this in 2.1.0 for now.

[2017-10-20 17:50] muratg commented on #45
Won't be able to do this due to Razor reference.

[2017-10-20 17:50] #45 closed

[2017-10-20 17:52] muratg commented on #54
Backlogging this for now. We'll need to understand the requirement for this type of feature and possibly bring this back in a minor milestone.

cc @glennc

[2017-10-20 17:55] #66 closed

[2017-10-20 17:59] muratg commented on #79
Closing this as external - nothing to do with ASP.NET Core, but more an "AppServices" question.

cc @davidebbo in case he has a recommendation where to file this.  My recommendation is StackOverflow.

[2017-10-20 17:59] #79 closed

[2017-10-20 18:00] muratg commented on #83
Per the previous investigation, this doesn't seem like it has any impact on customer apps, so it's more of a cleanliness issue.  @JunTaoLuo If we can't get to it within 2.1, that's fine.

[2017-10-20 18:05] muratg commented on #85
@glennc Thoughts here? Do we want to make this a "stable, supported" package, or work with AppInsights to get them either internalize or use a submodule to get this code?

[2017-10-20 18:10] muratg commented on #88
@pakrym will take a look into this while working on KeyVault light-up.

[2017-10-20 18:13] muratg commented on #102
@pakrym will take a look at this.

[2017-10-20 18:14] muratg commented on #105
Let's give this a shot 🤞

[2017-10-20 18:15] muratg commented on #109
related: #54

[2017-10-20 18:45] pakrym commented on #110
I removed per hosting startup `Enable` switches and changes `lighup` to `hostingstartup`.

Use case for opting out of the feature:
https://github.com/aspnet/AzureIntegration/issues/88

Use case for configuration values:
https://github.com/aspnet/AzureIntegration/issues/102

[2017-10-20 18:59] Tratcher commented on #110
AppServices only has the logger, correct? So that config value is the same as adding / removing the site extension.

[2017-10-20 19:00] pakrym commented on #110
@Tratcher yeah, AppServices is here to serve as example of the pattern then actual useful flag.

[2017-10-20 19:03] Tratcher commented on #110
Next we need to figure out where these values will actually be specified. It's unlikely to be a config file as the presence of these features is deployment / environment specific. Env vars are the most likely vector as that's how the lightup packages are added.

[2017-10-25 19:30] Tratcher opened #115 "SiteExtension: Use ProgramFiles(x86) instead of ProgramFiles"
https://github.com/aspnet/AzureIntegration/blob/9b9bb4dde7e9fa1bcfb31019ba9453882e1a318f/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/applicationHost.xdt#L10

The current extension uses the dynamic env var `%ProgramFiles%` to resolve the dotnet install directory. However, if you toggle your Platform to 64-bit then the value of this var changes from `d:\Program Files (x86)\` to `d:\Progr

[2017-11-08 20:37] muratg commented on #105
cc @shirhatti who will be adding the ANCM instructions here.

[2017-11-13 22:41] pranavkm opened #120 "SiteExtensionsTests: Update tests to target netcoreapp2.1"
The tests are designed so that they the only work if @pakrym touches them. I'll leave it to him to do the needful.

[2017-11-27 22:44] pakrym commented on #108
No work here for 2.1, removing package reference would be a large breaking change.

[2017-11-29 23:39] pakrym opened #122 "Split keyvault hosting startup into separate package"
https://github.com/aspnet/specs/issues/90

Change site extension to inject another hosting startup.
Are we going to put this hosting startup into metapackage?

[2017-11-29 23:40] pakrym opened #123 "Figure out if we want different names for environment variables in KV light up"
https://github.com/aspnet/specs/issues/90

Current ones:

[code]

[2017-12-01 05:33] glennc commented on #105
Taking this issue as the one that tracks getting the site extension ready to be used to deploy preview1. That was the intent right?

[2017-12-06 17:49] #109 closed

[2017-12-06 18:33] pakrym opened #127 "Investigate antares functional tests deployment failure"

[2017-12-11 20:24] glennc commented on #105
Clarifying intent for anyone reading this. As of ASP.NET Core 2.1 Preview1 we want to use App Service site extensions as the way to acquire the preview, as apposed to installing it globally on all Azure App Service machines.

This means that App Service only ever has RTM releases installed, not previews. To get a preview you would install the appropriate version of this extension.

The extension w

[2017-12-12 00:46] #122 closed

[2017-12-15 21:38] pranavkm commented on #120
cc @muratg \ @pakrym so we don't miss this

[2017-12-19 20:05] #83 closed

[2017-12-19 20:21] natemcmaster commented on #83
@JunTaoLuo is this done in dev too?

[2017-12-19 22:49] JunTaoLuo commented on #83
In dev it works a little differently. We do not build the deps files during shared framework generation. I believe in @pakrym's PR he was using the publish deps as well: https://github.com/aspnet/BuildTools/commit/b56c36c46122915b86d56836e089d7e6b57838a8

[2017-12-21 07:41] ndreisg opened #132 "Cannot edit file in Kudu Console due to 409 Conflict."
Hello there,

in my Azure app I have a JSON file that should be editable at runtime.
Editing works fine as long as i do not make any mistakes in the JSON string.

As soon as a enter any invalid JSON I have the following problem:

When the app reads the file the next time, an exception is thrown and written to log stream. When I then try to correct the wrong json in the file, I get the following er

[2017-12-21 07:56] ndreisg commented on #132
I just realized, that the problem is not only when the JSON is invalid. Actually it happens always when I edit the file in KUDU Console and then my app reads the file. When I then try to edit it again, the error happens.

[2017-12-21 07:58] ndreisg commented on #132
Not sure if this problem is caused by my App or by KUDU...
I'll try the same thing now over FTP.

[2017-12-22 18:41] pakrym commented on #127
https://github.com/dotnet/corefx/issues/25803

[2018-01-02 17:23] pakrym commented on #105
Blocked on https://github.com/dotnet/corefx/issues/25803

[2018-01-08 18:49] muratg opened #134 "Enable ETW logger by default on App Service via our site extension"
Should help customers with diagnostics.

[2018-01-08 18:49] muratg commented on #134
cc @DamianEdwards @glennc

[2018-01-08 19:00] DamianEdwards commented on #134
Some background from internal conversation:

[2018-01-18 23:50] pakrym commented on #105
Some notes on current implementation:

1. Site extension would not uninstall if the site is running because site is locked
2. The first-time experience is enabled by site extension but not forced during install to prevent time-outs. It will run the first time you use cli command (during git deploy)
3. We need to keep site extension name short because packages in NugetFallbackFolder exceed max path

[2018-01-22 17:28] danroth27 opened #137 "Move Microsoft.AspNetCore.KeyVault.HostingStartup to 2.0 patch branches"
Currently Microsoft.AspNetCore.KeyVault.HostingStartup targets 2.1. The proposal here is to retarget it to 2.0 and ship it out of band on NuGet in alignment with 15.7.

[2018-01-22 23:26] muratg commented on #137
cc @pakrym

[2018-01-25 23:19] soninaren opened #140 "AppModelDetector.Detect returns DotNetFramework for nondeterministic / empty folder"
Can we add default return type to be Unknown or something similar in case it is nondeterministic?

[2018-01-25 23:23] pakrym commented on #140
What are the criteria to categorize folder as the desktop framework?

[2018-01-25 23:32] soninaren commented on #140
I am not sure how can that be determined.
But right now the API is returning DotNet Framework for anything that is not DotNetCore or DotNetCoreStandalone. For now i figured it would be nice have that fixed.

[2018-01-25 23:40] pakrym commented on #140
I would be glad to do changes but we have to decide on rules/scenarios of what we detect as nondeterministic

[2018-01-25 23:44] soninaren commented on #140
As if now to me, Anything that cannot be categorized as DotNetCore or DotNetCoreStandalone would fall under nondeterministic category.

[2018-02-02 20:27] onovotny opened #141 "Option to get Certificate directly from Azure Key Vault"
Moved from https://github.com/aspnet/KestrelHttpServer/issues/2288 as per @davidfowl

With the new certificate capabilities 2.1, it would be very useful if Kestrel could get certificates directly from Azure Key Vault. This is especially true because Key Vault can auto-renew certificates from providers already.

If done with Managed Service Identities, this can be transparent as well.

[2018-02-02 20:29] davidfowl commented on #141
@onovotny This is for self hosting Kestrel on Azure running in a VM?

/cc @javiercn @pakrym

[2018-02-03 13:08] davidfowl commented on #141
I think minimally kestrel can add a callback for getting a cert for a connnection. We’ve held off on that because we’re waiting to see what SNI Support looks like on SSLStream but maybe it doesn’t matter yet

[2018-02-05 20:52] Eilon commented on #120
@muratg / @pakrym - anything to do here for preview1?

[2018-02-05 21:01] Eilon commented on #57
@muratg / @pakrym  - anything to do here for preview1?

[2018-02-05 21:06] pakrym commented on #120
No, I guess we'll fix them for preview2.

[2018-02-05 21:07] pakrym commented on #57
Nothing for preview1.

[2018-02-05 21:11] Eilon commented on #120
@muratg please do the needful.

[2018-02-06 19:56] pakrym opened #143 "Fix Microsoft.AspNetCore.AzureAppServices.SiteExtension to carry .dlls in runtime store format"
Since we are not producing runtime store for hosting startup packages anymore, site extension has to carry both deps files and runtime store and set environment variables to point to them. To continue supporting 2.0 apps we still need to additionally point into old `Program Files` additional deps location and runtime store.

[2018-02-06 23:29] ryanbrandenburg opened #144 "SiteExtension transient failure"
It seems that `Microsoft.AspNetCore.AzureAppServices.SiteExtension` is drawing from NuGet rather than an artifact dependency on the local build of `Microsoft.AspNetCore.AzureAppServices.HostingStartup`. This causes random failures on the CI when the new version of the package isn't available quite yet.

This causes instability in preview1 release builds, so please prioritize accordingly.

[2018-02-08 18:23] davidfowl commented on #88
@pakrym can you file the appropriate issue on app insights?

[2018-02-08 18:23] #88 closed

[2018-02-08 18:28] #105 closed

[2018-02-08 18:34] davidfowl commented on #127
Fixed!

[2018-02-08 18:34] #127 closed

[2018-02-08 18:43] #57 closed

[2018-02-08 18:44] davidfowl commented on #137
What happens when you're a 2.1 application.

[2018-02-08 21:12] pakrym commented on #143
The current plan is to compare sizes of required runtime stores in the case where we want to support apps targeting Microsoft.NETCore.App or Microsoft.AspNetCore.App

/cc @muratg

[2018-02-08 23:17] pakrym commented on #143
# Microsoft.NetCore.App

Crossgened, x64 ~ 10 mb, x86 ~ 9 mb
[code]

# Microsoft.NetCore.App
Adjusted & Crossgened, x64 ~ 8 mb, x86 ~ 7 mb

`ls c:\Users\pakrymet\.dotnet\x64\shared\Microsoft.NETCore.App\2.1.0-preview1-26126-02\ | %{ Rm -rec -for  $_.BaseName }`

[code]

# Microsoft.AspNetCore.App

Adjusted & Crossgened, x64 ~ 2.5 mb, x86 ~ 2.3 mb
`ls C:\Users\pakrymet\.dotnet\x64\shared\Microsoft.

[2018-02-08 23:20] pakrym commented on #143
/cc @DamianEdwards @davidfowl @glennc

[2018-02-09 20:00] #144 closed

[2018-02-09 20:10] ryanbrandenburg commented on #144
I saw this still today: http://aspnetci/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=403491&_focus=374

[2018-02-09 20:15] pakrym commented on #144
Should be fixed by https://github.com/aspnet/Universe/commit/9f68d4b92ec6d0cfa9414decd0b6f391a05167c1 that build in http://aspnetci/viewLog.html?buildId=403543&buildTypeId=Releases_21Public_SiteExtension&tab=buildChangesDiv

[2018-02-09 22:41] pakrym commented on #143
Semi blocked by https://github.com/projectkudu/kudu/issues/2689

I'll try to use ARM to install site extensions.

[2018-02-13 21:56] natemcmaster opened #147 "SiteExtension Transform tests are failing in release/2.1"
4 tests started failing in release/2.1

[code]

http://aspnetci/viewLog.html?buildId=405485&tab=buildResultsDiv&buildTypeId=Releases_21Public_Win2012

[2018-02-14 17:58] pakrym commented on #147
Fixed in https://github.com/aspnet/AzureIntegration/pull/148

[2018-02-14 17:58] #147 closed

[2018-02-14 17:59] pakrym commented on #143
This is done, KV hosting startup would be enabled in https://github.com/aspnet/AzureIntegration/pull/149

[2018-02-14 17:59] #143 closed

[2018-02-14 18:39] danroth27 opened #150 "Remove data protection integration from key vault hosting startup package"
The current data protection integration doesn't handle key storage concerns. Since the story is only half there let's take it out.

[2018-02-15 19:07] BrennanConroy opened #152 "Turn off first-time experience"
We need to disable first-time experience for the site-extension

[2018-02-15 19:11] muratg commented on #152
We need to fix this for first-kudu-deploy experience.

FYI @DamianEdwards @Eilon

[2018-02-16 19:14] #152 closed

[2018-02-16 20:52] Eilon commented on #137
So is this bug in the wrong milestone? This is intended for March 2018 == 2.0.6 patch?

[2018-02-16 20:56] pakrym commented on #137
This is for connected services tooling support. Required for 15.7 preview3

[2018-02-16 21:15] Eilon commented on #137
Sure, but is this supposed to go into the March 2018 patch train build?

[2018-02-25 18:27] pherbel commented on #141
We also would like to use this feature.
Would be great when you want host a Kestrel based service without proxy inside or outside Azure.

e.g. Kestrel service in Service Fabric hosting

[2018-02-28 18:35] danroth27 opened #158 "Investigate if we should handle the X-ARR-ClientCert header on Azure"
Based on the discussion in https://github.com/aspnet/mvc/issues/7366 it looks like Azure App Service will pass client certificates using the `X-ARR-ClientCert` header. We should investigate if we should add special handling for this header to surface the client certificate appropriately.

See also https://blogs.msdn.microsoft.com/kaevans/2016/04/13/azure-web-app-client-certificate-authentication-w

[2018-03-01 13:38] blowdart commented on #158
Note that I already wrote middleware for this https://github.com/blowdart/idunno.Authentication/commit/b8b6cecb5f351d9e718a6a8daceea928de383036 - if we do it, it should be flexible enough to cope with other proxies, not just ARR.

[2018-03-02 22:10] muratg commented on #110
Closing this for now.

[2018-03-02 22:10] #110 closed

[2018-03-02 22:12] muratg commented on #123
@danroth27 Thoughts?

[2018-03-02 22:13] muratg commented on #132
@ndreisg Make sure to dispose the `StreamReader` coming from `File.OpenText(path)`.  This potentially is keeping the file locked for you.

[2018-03-02 22:13] #132 closed

[2018-03-02 22:14] muratg commented on #134
@DamianEdwards @glennc triage?

[2018-03-02 22:17] muratg commented on #141
@glennc @danroth27 please triage.

[2018-03-02 22:19] muratg commented on #158
@pakrym thinks we may be doing something similar (with a different header) in IISIntegration.  He'll verify.

cc @Tratcher

[2018-03-02 22:31] Tratcher commented on #158
ANCM forwards the client cert in a similar way, but that would be different from ARR. Didn't Azure's ARR do magic to unpack forwarded values like this before we observed them?

[2018-03-02 22:32] blowdart commented on #158
Apparently not, because users had to hack their own bits to get the cert. We ought to go ask azure for a list of every possible header from ARR

[2018-03-02 23:00] muratg commented on #85
Based on the discussion with @glennc, we are not planning to publish this to nuget. We'll continue to hand out source/dlls.

[2018-03-02 23:00] #85 closed

[2018-03-02 23:01] muratg commented on #158
@davidebbo is the list of all possible ARR headers captured somewhere?

[2018-03-02 23:21] davidebbo commented on #158
@muratg sorry, not my area. Would need to find some IIS experts.

[2018-03-03 00:16] danroth27 commented on #141
@DamianEdwards Sounds like something worth doing, but I don't think this is required for 2.1.

[2018-03-03 00:34] danroth27 commented on #123
No plans to change these.

[2018-03-03 00:34] #123 closed

[2018-03-03 00:56] DamianEdwards commented on #141
Now that we're revisiting SNI support for 2.1.0, maybe we can do what @davidfowl suggests above and just add a callback for getting the cert from wherever.

[2018-03-03 02:43] pan-wang commented on #158
i am sure about X-ARR-SSL, X-ARR-ClientCert, X-ARR-LOG-ID, X-Forwarded-For and X-Forwarded-By, but not sure about X-ARR-CACHE-HIT which seems to be used as ServerVariable instead of forwarded header. Antares may add different headers.

[2018-03-05 16:02] blowdart commented on #158
Well it's ARR so it'd be a question for Azure.

[2018-03-06 23:24] danroth27 opened #160 "Update keyvault hosting startup package to add the hosting startup assembly attribute via MSBuild"
Looks like we can just have the keyvault hosting startup package add the hosting startup assembly level attribute via MSBuild:

Something like this:

[code]

[2018-03-07 18:29] muratg commented on #120
Removing from preview2.  We'll look back into this after preview2.

[2018-03-09 15:18] puneetg1983 commented on #134
Validated that the correct set of events are getting captured in the ETW trace that we collected on Antares using the Visual Studio diagnostic agent.

For all the ETW events to come in the ETW trace, I had to do two things.
1.	Make sure that we had call to `logging.AddEventSourceLogger` in the Program.cs
2.	Make sure that the default LogLevel in **appsettings.json** was set to Information like thi

[2018-03-09 17:08] glennc commented on #134
@puneetg1983 did you expect the loglevel in the portal to impact this or that it would give you all information all the time? The only loggers that honor what is in the portals Diagnostics Logs blade today are the file and blob storage logger that we just to handle those two parts of that blade.

What gesture do you expect a user to do in order to enable the ETW logs? From your scenario it sounds

[2018-03-09 17:26] puneetg1983 commented on #134
To add to it, we have the ability in azure app service to collect etw for IIS and classic ASP.net by using visual studio diagnostic agents which just expect the right provider guide, verbosity levels and keywords. The same mechanism can be used to collect etw for ASP.net core but the app has to emit the event at least for those mechanisms to catch it...

[2018-03-09 18:05] glennc commented on #134
You don't have to convince me. I just want to understand what mechanisms we need. What do you expect users to do in order to turn it on?

[2018-03-09 18:25] puneetg1983 commented on #134
I see :-)

All we need is .net core apps to emit ETW events without making any changes.

As of today, in Azure App Service, an end user can go to the KUDU console and collect a ETW trace for a process. When they click the start profiling button, we start the trace session for them and we enable the right providers. Once they have reproducted the issue, they can stop the session when they stop the

[2018-03-09 20:47] glennc commented on #134
And the information from https://github.com/aspnet/Hosting/blob/7890fdbf94df7463047ba05865b8f515d029e057/src/Microsoft.AspNetCore.Hosting/Internal/HostingEventSource.cs isn't enough so you want the EventSourceLogger info as well? AFAIK we always call the HostingEventSource commands if it's enabled.

The other logs that honor the loglevel from the appsettings.json you are showing go through the log

[2018-03-09 22:34] danroth27 opened #161 "Site extension names are confusing"
Currently we have two site extensions for ASP.NET Core:
- ASP.NET Core Extensions
- ASP.NET Core Runtime Extensions

No one can figure out which one to use or what they do. Can we clarify the names? Can we add a descriptive text that shows up in the portal?

@glennc @shanselman

[2018-03-09 22:41] shanselman commented on #161
Can we just toss one? Or make Extensions into "Logging" TODAY?

[2018-03-10 05:54] puneetg1983 commented on #134
everything we can possibly get in ETW

🙂

If required, let's talk to finish any remaining ends. Let me know

[2018-03-12 18:38] #150 closed

[2018-03-12 18:41] pakrym commented on #137
Done in https://github.com/aspnet/AzureIntegration/pull/156

[2018-03-12 18:41] #137 closed

[2018-03-19 14:17] graemechristie opened #163 "Site Extension Experience is not good when used with Slots"
Currently, If we install the ASPNet Core 2.1 preview1-final Site Extensions using a resource template, or manually add a template via the Portal UI, the site extension will be removed the next time we deploy to a slot (using the Azure Powershell commandlets) and swap that slot into the production slot (using the Azure Powershell commandlets).

As we do all of our deploys automatically, from CI, we

[2018-03-19 15:16] Tratcher commented on #163
Which extension? There are two. The Runtime extension is intended only use with previews.

[2018-03-19 15:36] graemechristie commented on #163
Yes, the Runtime extension. If it is only for previews then that is ok. Thanks for the information. I coudnt find any information stating that this would  be required once 2.1 final was released.

[2018-03-19 15:36] #163 closed

[2018-03-21 16:05] pakrym opened #164 "Rename site extensions to have 2.1 in the name and build x64 and x86 versions"

[2018-03-21 16:06] pakrym opened #165 "Investigate AI hosting startup runtime store for netcoreapp2.1/aspnetcore2.1"

[2018-03-21 17:18] muratg commented on #165
@glennc Is there an AI bug tracking this for the next milestone?  If not, could you file?

[2018-03-22 14:12] jsacapdev opened #167 "aspnetcoreVersion in ARM Template for 2.1.0-preview1"
In the section _Using an ARM template_ blog post:

https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-0-preview1-using-asp-net-core-previews-on-azure-app-service/

What is the correct aspnetcoreVersion that needs to be used to install 2.1.0-preview1-final? I have tried the following combinations and neither work:

[code]

[code]
[code]

Deploying using `Deploy-AzureResourceGroup.p

[2018-03-22 23:00] pakrym commented on #165
https://github.com/dotnet/core-setup/issues/3884

[2018-03-26 08:17] kevin-jing opened #168 "Please add "restarte App Serivice after adding extension" for option 1"
https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-0-preview1-using-asp-net-core-previews-on-azure-app-service/#comment-368395

Otherwise, it doesn't take effect.

[2018-03-26 17:50] prasethu opened #169 "'Microsoft.AspNetCore.AzureKeyVault.HostingStartup 2.0.2-preview1-final' package install displays a warning because a dependency version was not found"
Configuration:
OS: RS4 17632 x64
VS: d15.7/27525.3005

More info:
The bug will be gone if you install Microsoft.AspNetCore.Hosting.Abstractions( >=2.0.1) as the prompted manually.

Steps to reproduce:
Create a ASP.NET Core 2.0 project
Open Connected Services tab
Click Secure Secrets with Azure Key Vault
Click Add button to add Key Vault to project
Actual: Below warning after installed Key Vault:

[2018-03-27 21:02] muratg commented on #169
cc @danroth27 @glennc @natemcmaster

[2018-03-27 21:04] pakrym commented on #169
Yep, it got build against 2.0.1-rtm-105 dependencies. I'll rebuild it correctly after fixing https://github.com/aspnet/AzureIntegration/issues/160

[2018-03-27 23:22] ryanbrandenburg opened #171 "Broken tests: ScriptIsInjected_ForNetCoreApp20_Portable et al"
These tests [fail](http://aspnetci/viewLog.html?buildId=432811&tab=buildResultsDiv&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) on Ubuntu.

[code]

Check out the test history [here](http://aspnetci/project.html?tab=testDetails&testNameId=7623972375749052175&projectId=XPlat&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

[2018-03-28 21:40] muratg commented on #120
Moved further out based on the scheduling realities. If we do end up getting some free time, we'll get to it before.

[2018-03-28 23:56] #164 closed

[2018-03-29 00:04] #160 closed

[2018-03-29 00:05] pakrym commented on #169
@muratg using this to track producing new preview keyvault package.

[2018-03-29 16:54] pakrym commented on #165
We decided to try AssemblyLoadContext idea for implementing hosting startups.

[2018-03-29 17:13] muratg commented on #169
@pakrym good to close?

[2018-03-29 17:14] muratg commented on #165
cc @natemcmaster

[2018-03-29 17:19] natemcmaster commented on #165
Should this be assigned to me to investigate? or are you also going to try building an implementation @pakrym ?

[2018-03-30 19:33] jkotalik opened #174 "Add ANCM site extension"
As we want to get people testing the new ANCM inprocess feature without installing the global module, we want to create a site extension for the new ANCM.

[2018-04-02 18:44] Eilon commented on #169
@pakrym / @muratg - is there more action to take for Preview2? If not, let's close or move to RC1.

[2018-04-02 18:44] Eilon commented on #165
@natemcmaster / @pakrym / @muratg - is this a must-have for Preview2? If not, let's move to RC1.

[2018-04-02 18:46] #169 closed

[2018-04-02 19:17] natemcmaster commented on #165
Move to RC1. No work planned for preview2 on this

[2018-04-02 23:30] glennc opened #175 "Spike lighter App Insights integration for VS"
We want to enable the in-VS experiences like CodeLens and the search window, but adding the full app insights SDK right now has some unfortunate side effects. These effects, like injecting `HttpContextAccessor`, are somewhat unavoidable when you want deep integration with ASP.NET Core for full telemetry.

However, we think there is a subset of data used by VS that we could instead get by have by h

[2018-04-02 23:31] glennc commented on #175
This isn't really the right repo for this, but it's close as I could think of for now.

[2018-04-03 21:58] Tratcher opened #176 "Templates do not work in Antares Linux due to missing scheme forwarders"
The 2.1 templates include UseHttpsRedirection and UseHsts by default. These stop working and put your site into an infinite loop if you deploy to Antares Linux (or behind any other reverse proxy besides IIS). The problem is that TLS is terminated by the reverse proxy and Kestrel doesn't know the correct request scheme. OAuth and OIDC also fail in this configuration as they generate incorrect redir

[2018-04-05 00:40] natemcmaster commented on #165
Initial prototype for using AssemblyLoadContext is here: https://github.com/aspnet/Hosting/tree/namc/alc

We think this is something we want to pursue, but it coordination with the dotnet team. There is enough assembly-loading, deps.json-parsing, rid-graph-defining stuff in it that it would be fragile for us to own this completely right now. It's unlikely we can get all of this in for 2.1.0-rc1. R

[2018-04-10 18:58] ryanbrandenburg commented on #171
@muratg could we prioritize this one? It fails 100% of the time on our Ubuntu agents now, so it should be easy to repro.

[2018-04-10 21:44] muratg commented on #171
@pakrym assigned to you. Not sure why the test runs on Ubuntu?

[2018-04-10 21:45] pakrym commented on #171
Yep, had the same question. I'll look into it.

[2018-04-10 23:24] pakrym opened #177 "Diagnostic log settings are not reloaded when changed from portal"
When using preview2 AppServices site extension.
Reproes both on x86 and x64 runtimes.

[2018-04-10 23:26] muratg commented on #177
@pakrym could you take the initial look?

[2018-04-10 23:36] muratg commented on #177
@pakrym were you able to find any workaround?

[2018-04-10 23:40] pakrym commented on #177
Restarting the app.

[2018-04-12 17:51] muratg commented on #176
Moving out due to schedule constraints. @DamianEdwards @glennc FYI.

[2018-04-12 17:51] muratg commented on #171
@pakrym status? Disabled on Ubuntu?

[2018-04-12 17:52] muratg commented on #177
@pakrym status?

[2018-04-12 17:53] pakrym commented on #177
In progress, maybe, it's harder than I though.

[2018-04-12 17:53] pakrym commented on #171
No, I merged a bunch of Console.WriteLines but build was broken over the night so I'm waiting for a test run.

[2018-04-16 04:28] DamianEdwards commented on #63
@glennc @pakrym any idea on this?

[2018-04-16 20:57] muratg commented on #177
@pakrym Close??

[2018-04-16 21:08] pakrym commented on #177
Not yet, there wasn't able to verify with new site-extension yet.

[2018-04-17 20:55] mikeharder opened #184 "LoggingTest should use dynamic port "0" with Kestrel"
`LoggingTest` should remove the `ApplicationBaseUriHint`, which will change it from using the less-reliable `GetNextPort()` to the 100% reliable dynamic port "0".

https://github.com/aspnet/AzureIntegration/blob/8fece7e7bba0b86652658a8296b951d3681859e8/test/ApplicationInsights.HostingStartup.Tests/LoggingTest.cs#L112

[2018-04-18 00:08] prasethu opened #186 "Microsoft.AspNetCore.AzureKeyVault.HostingStartup should include Build from it's dependency on Microsoft.Azure.Services.AppAuthentication"
There is a scenario we’ve identified that can block certain users from accessing their Key Vaults. Let me explain:

The way it works is that the ASAL extension in VS on load creates a file that is necessary for the ASAL libraries to work – which is responsible for authenticating with Azure. This file is created on VS first launch and upgrade scenarios. But in certain cases, we’ve seen users missin

[2018-04-18 00:55] natemcmaster commented on #186
Can be fixed by `PrivateAssets="None"` to this package reference. https://github.com/aspnet/AzureIntegration/blob/a926239281dba7fd83404e321e8ce263569c68f7/src/Microsoft.AspNetCore.AzureKeyVault.HostingStartup/Microsoft.AspNetCore.AzureKeyVault.HostingStartup.csproj#L17

[2018-04-18 06:06] puneetg1983 commented on #134
Hi Everyone, any updates regarding this ?

[2018-04-19 23:23] #177 closed, assigned to pakrym

[2018-04-20 23:28] pakrym opened #191 "Retarget AppServices integration hosting startup to AspNetCore.App/All"
And produce multiple versions of deps files for preview releases (rc1, rtm)

[2018-04-20 23:29] pakrym commented on #191
/cc @muratg

[2018-04-24 01:09] muratg commented on #191
@pakrym Are we still doing something here in RC1?

[2018-04-24 15:28] pakrym commented on #191
Nope, I have a prototype of what we might do if targeting AspNetCore.App is required but work would go into RTM after we decide what to fix in the host.

[2018-04-24 17:06] DamianEdwards commented on #191
So, this doesn't need to be in rc1?

[2018-04-24 19:42] ggirard07 opened #192 "Document web app extension functionalities"
I can't find any information about the purpose of this site extension. I noticed it today in our webapps running ASP.Net Core WebAPI.

I found [this post](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-apps/?view=aspnetcore-2.1) explaining that a new extension is required in order to install the preview of .Net Core 2.1 on an Azure Web App. But this does not allow me to underst

[2018-04-25 21:47] natemcmaster commented on #171
Still broken on all 2.0.x builds. The deployer log shows this in the logs

[code]

[2018-04-26 15:40] pakrym commented on #171
I'll look into 2.0.x failures, it's a different one.

[2018-04-30 19:29] #186 closed

[2018-05-04 03:23] danroth27 opened #194 "Update key vault hosting startup dependency on Microsoft.Azure.Services.AppAuthentication to 1.0.1"
There's a patch version of Microsoft.Azure.Services.AppAuthentication now available. We should update our dependency on this package to 1.0.1. The 1.0.0 version was missing important build targets.

[2018-05-04 23:15] muratg commented on #191
Approved for RTM.

[2018-05-07 18:39] natemcmaster commented on #165
I've unassigned myself from this. There is no action currently planned for this.

[2018-05-07 20:34] EricBourland opened #197 "The specified CGI application encountered an error and the server terminated the process."
I get this error when I try to make a request to my .net core 2.1 preview 2 web app hosted in azure:

`The specified CGI application encountered an error and the server terminated the process.`

Then my app service restarts itself.

I get this error regardless of whether I use the x64 or the x86 runtime preview extension. The application works fine locally.

According to these logs it seems like i

[2018-05-07 20:38] amwins-fred commented on #197
I am experiencing the same issue. The event log had this in it:

Application: dotnet.exe
CoreCLR Version: 4.6.26406.7
Description: The process was terminated due to an internal error in the .NET Runtime at IP 00007FFED4DEF12E (00007FFED4CA0000) with exit code 80131506.

[2018-05-07 22:25] muratg commented on #191
@pakrym Any updates?

[2018-05-07 23:16] pakrym commented on #191
Site extension is built, going to test right now.

[2018-05-09 23:17] #194 closed

[2018-05-13 08:03] davidfowl opened #198 "Add integration library for easy auth"
App Service has first class support for 3rd party authentication providers:

![image](https://user-images.githubusercontent.com/95136/39965188-5ea147b6-5649-11e8-9123-88ac0ef108c9.png)

Data flows to the application in various headers. We should support this in a more first class way that interoperates with our authentication system.

/cc @HaoK @Tratcher

[2018-05-15 22:05] HaoK commented on #198
This doesn't look like it should be too hard to add support for, as it looks like its just a bearer token in a header

https://blogs.msdn.microsoft.com/mihansen/2018/03/25/azure-active-directory-authentication-easy-auth-with-custom-backend-web-api/

[2018-05-15 22:09] HaoK commented on #198
More potentially relevant docs here: https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-dotnet-backend-how-to-use-server-sdk#add-auth

[2018-05-18 15:53] EricBourland commented on #197
Still getting this error using 2.1.0-rc1-final in azure

[2018-06-03 04:17] xt0rted opened #202 "Using these packages with Microsoft.AspNetCore.App"
Since these packages were removed from the new `.App` package I have to add a reference to each one I want to use now. After migrating my project from 2.0 to 2.1 I wasn't seeing app insights working (no JS or server telemetry).

At this point I setup a new empty website, added a reference to `Microsoft.AspNetCore.ApplicationInsights.HostingStartup` and fired up the site. Again there's no JS or ser

[2018-06-03 20:49] xt0rted commented on #202
There looks to be an existing issue about this from a couple months ago. I've added my information to https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/568#issuecomment-394189143 in case that's where this should be discussed.

I can confirm that the app services hosting startup is working, if I dump out all of the `ILoggerProvider` instances that are loaded I see:
- Microsoft.Exte

[2018-06-13 21:34] shirhatti commented on #134
I spent some time looking into this. Here’s my recommendation
- Use the existing Microsoft.AspNetCore.AzureAppServices.HostingStartup package (this will save the burden of figuring out additional deps)
- Use HostingStartup to inject to the EventSourceLogger (It’s already part of the shared framework, so it doesn’t bring in other dependencies)
- Also use HostingStartup to add a filter to turn down

[2018-06-13 21:39] shirhatti commented on #134
Based on our meeting earlier today:
- We probably don't want to configure LogLevel for the EventSourceLogger. If an individual customer wants to, they can always add a logging filter
- Let's add an environment variable to turn off adding the EventSourceLogger for folks who find it too verbose.
- Unless Antares makes a concerted push for this, we aren't going to patch this in 2.1. This will only be

[2018-06-21 20:51] shirhatti opened #208 "Update runtime site extension to set DOTNET_ROOT"
If we don't set DOTNET_ROOT in the runtime site extension, framework dependent exes will break.

[2018-06-21 20:52] shirhatti commented on #208
cc @pakrym

[2018-06-25 17:30] lautarogalancid opened #209 "Solved: Gateway problem in Azure"
Thanks for reading. I'm completely new to Azure, so bear with me, please. I'm pretty sure this is an absolute novice question, but here it goes:

I've done an ASP.Net Core 2 API, which connects to Google Drive, reads a spreadsheet, and returns the data in a JSON. **This works great in my local IIS Express server** (Launching it from VS), but now they ask me to upload this to an Azure, and here's w

[2018-06-28 03:44] xt0rted commented on #202
Looks like the AI hosting startup stuff not working was due to a bug in the site extension. With version 2.6.2 this wasn't working, just updated to 2.6.4 and now it is. My site's **not** referencing either of the removed hosting startup packages now so this is in fact the lightup feature working.

[2018-06-28 03:44] #202 closed

[2018-07-06 20:02] JunTaoLuo commented on #175
Is this more or less the tracking issue for https://gist.github.com/glennc/131987315a073d5cb15f76212c586035 @glennc ?

[2018-07-09 17:50] #174 closed

[2018-07-24 20:09] Praefectus-praetorio commented on #209
I've got exactly the same issue. .NET Core 2.0 with Google Sheets API on Azure:
Code 502: Error: Bad Gateway The specified CGI application encountered an error and the server terminated the process.

Locally it works like a charm. Could you please help?

[2018-08-02 13:09] #167 closed

[2018-08-06 18:25] JunTaoLuo commented on #175
Is this still something we want to do?

[2018-08-28 17:48] oising commented on #158
Any movement on this?

[2018-08-29 18:08] muratg commented on #158
Assigning to @shirhatti

[2018-09-18 06:49] balachir opened #220 "Enabling ASP.NET Core 2.2 Runtime site extension in the Azure portal often does not work"
### Scenario :
- Clean machine with 15.9 Preview 2 + .NET Core 2.2 Preview 2 installed.
- Create new ASP.NET Core 2.2 (.NET Core) web app > Empty or Web App (MVC) template
- F5 and then Publish to Azure

### Repro Steps :
- After publishing from VS, open the published web app on the Azure portal
- Add the "ASP.NET Core 2.2 (x86) Runtime" site extension following the instructions from [the document

[2018-09-18 06:57] balachir opened #221 "Adding ASP.NET Core 2.2 Runtime site extension to multiple web apps in same resource group fails due to not enough space on disk"
### Scenario :

1. Clean machine with 15.9 Preview 2 + .NET Core 2.2 Preview 2 installed.
2. Create new ASP.NET Core 2.2 (.NET Core) web app > Empty or Web App (MVC) template
3. F5
4. Publish to Azure
5. Add the "ASP.NET Core 2.2 (x86) Runtime" site extension following the instructions from [the documentation](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-apps/?view=aspnetcore

[2018-09-18 07:06] balachir opened #222 "After ASP.NET Core 2.2 site extension has been added to web app on Azure, need to wait a long time after web app restart to be able to view the site successfully"
### Scenario :

1. Clean machine with 15.9 Preview 2 + .NET Core 2.2 Preview 2 installed.
2. Create new ASP.NET Core 2.2 (.NET Core) web app > Web Application (MVC) template
3. F5
4. Publish to Azure
5. Add the "ASP.NET Core 2.2 (x86) Runtime" site extension following the instructions from [the documentation](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-apps/?view=aspnetcore-

[2018-09-18 08:04] balachir opened #223 "Pre-release version of Microsoft.AspNetCore.AzureAppServices.SiteExtension gets enabled by default when publishing an ASP.NET Core 2.1 app to Azure from VS 15.8"
### Scenario :

1. Clean machine with 15.8
2. Create new ASP.NET Core 2.1 (.NET Core) web app > Web Application (MVC) template
3. F5
4. Publish to Azure with default selections (Install "ASP.NET Core site extension" is checked in the Publish settings tab)

![image](https://user-images.githubusercontent.com/8246794/45672753-cf1b1f00-badd-11e8-80e4-6e131cebad9f.png)

### Repro Steps :
Site extension

[2018-09-20 15:36] pakrym opened #224 "Add SDK to SCM W3WP path environment variable"
So SDK is accessible during kudu builds.

We should still keep ANCM from being added.

[2018-09-21 18:37] pakrym commented on #223
Currently, this is by design

@glennc

[2018-09-21 18:38] mikeharder opened #226 "Changing Application Log Level requires app restart"
For ASP.NET Core applications, changes to Application Log Level do not take effect until the app is also restarted.

# Repro Steps
1. Enable Application Logging with “Level=Information” and click “Save”
2. Make request to app, and view application log in “Log stream”.  It should be using the correct level:
[code]
3. Change log level to “Verbose” and click “Save”.
4. Make request to app, and view a

[2018-09-21 18:44] pakrym commented on #226
What version of runtime/site extension did you use?

[2018-09-21 18:45] pakrym commented on #226
We had the same bug before https://github.com/aspnet/AzureIntegration/issues/177

[2018-09-21 18:48] pakrym opened #227 "Change AzureAppServices.SiteExtension to include both 2.1 and 2.2 assets"
And it's getting installed unconditionally even when publishing applications targeting 2.1, breaking logging integration.

[2018-09-21 18:48] mikeharder commented on #226
App targets `netcoreapp2.1`, and published from VS 15.8.5 RTM.  In VS, "Install ASP.NET Core site extension" is unchecked.  Portal shows site extension version as `2.1.0-preview2-final`.

[2018-09-22 00:39] mikeharder commented on #226
We believe this was fixed in #177, for site extension 2.1-rc.  However, app service is still using 2.1-preview2 which is not fixed.  Keeping this issue open until AppService is updated to 2.1-rc or later.

[2018-09-25 21:59] pakrym commented on #227
@muratg I've repurposed this issue to track producing aggregate site extension.

[2018-09-25 22:00] pakrym opened #230 "Remove SDK from AspNetCoreRuntime site extension"

[2018-09-26 13:21] puneetg1983 opened #231 "Enable EventLog by default for all unhandled errors in ASP.NET core apps hosted on Azure App Service"
All azure app services have a lightweight Eventlog.xml file which contains Events emitted by apps. All the un-handled ASP.NET (classic) exceptions go to this file and this file resides in d:\home\logfiles\eventlog.xml

I realized that ASP.NET core has AddEventLog() method under Microsoft.Extensions.Logging.EventLog. I tried adding that nuget package to test app and loggerFactory.AddEventLog() meth

[2018-10-01 01:34] #197 closed

[2018-10-01 18:27] muratg commented on #165
@davidfowl I've backlogged this one. If you care about it, let me know.

[2018-10-01 18:29] muratg commented on #176
@shirhatti Could you please sync up with @Tratcher on this one?

[2018-10-01 18:29] muratg commented on #208
@pakrym thoughts on this? Is this broken?

[2018-10-06 13:03] pakrym commented on #208
This feature (framework dependent exes) was broken in 2.2 and wasn't enabled by default so we are not terribly broken but it's still nice to have.

[2018-10-06 13:04] pakrym commented on #165
I don't think this issue is actionable at this point. Closing.

[2018-10-06 13:04] #165 closed

[2018-10-06 13:10] pakrym commented on #63
It does look like Kudu UI bug. I've seen this a lot while verifying site extensions and it doesn't prevent things from working just adds a bit of confusion.

[2018-10-09 01:48] Eilon commented on #63
Could be a Kudu UI bug. But I did also include a suggestion that might in theory work around the bug (based on all kinds of baseless assumptions I've made about how it works). Thoughts on having a static info page?

[2018-10-09 18:21] pakrym commented on #134
Enabled for all apps https://github.com/aspnet/MetaPackages/pull/287

[2018-10-09 18:21] #134 closed

[2018-10-12 18:30] muratg commented on #84
@glennc @Tratcher is this more "theoretical" at this point? Do we know of folks using multiple site extensions doing this?

[2018-10-12 18:36] muratg commented on #231
@puneetg1983 this would be too verbose. Anything you're missing with the current logs that you can't find?

[2018-10-12 18:36] muratg commented on #224
We're removing SDK from the sitetextension. We won't do this.

[2018-10-12 18:36] #224 closed

[2018-10-12 18:37] muratg commented on #223
@glennc What's your thoughts on this? Good design? Should we change the design?

[2018-10-12 18:38] muratg commented on #222
@balachir any other info on this? Were you able to repro again? We have never seen this happen in our experiments.

[2018-10-12 18:39] muratg commented on #221
In 2.2, we'll remove SDK from the siteextension. This will be a smaller issue then.

[2018-10-12 18:39] #221 closed

[2018-10-12 18:42] muratg commented on #220
This issue was moved to projectkudu/kudu#2887

[2018-10-12 18:42] #220 closed

[2018-10-12 18:51] muratg commented on #115
Since 2.1, we're not using Program Files folders for additional deps. Instead we carry them with the package. Shouldn't be a an issue now that 2.0 is dead.

[2018-10-12 18:51] #115 closed

[2018-10-12 21:12] Tratcher commented on #84
@BrennanConroy @glennc There was a conflict between our site extension and the AppInsights extension, right?

[2018-10-15 15:12] bjpierron opened #236 "IHostingStartup support for multiple key vaults"
The IHostingStartup implementation for key vault in ASP.NET Core appears to support a single key vault configuration. I would like to retrieve secrets from an application specific key vault, as well as a more general shared key vault. An example of a shared secret might be a SendGrid API key. Is IHostingStartup support for multiple key vaults on the roadmap, or is the use of multiple key vaults in

[2018-10-15 21:48] pakrym commented on #236
You can use AddAzureKeyVault (https://github.com/aspnet/Configuration/blob/d469707ab18eef7ed0002f00175a9ad5b0f36250/src/Config.AzureKeyVault/AzureKeyVaultConfigurationExtensions.cs#L134 ) extension method multiple times but I don't think support for multiple keyvaults via hosting startup is planned.

[2018-10-16 08:11] balachir commented on #223
When I tried the above repro steps again now, it looks like the version of **ASP.NET Core Extensions** has been updated to **2.1.1**. So I think we can go ahead and close this issue now.

![image](https://user-images.githubusercontent.com/8246794/47001891-64f79900-d0e0-11e8-9d93-960cfc54fbeb.png)

[2018-10-16 11:01] balachir commented on #222
@muratg the CTI team and I did some more investigation on this issue. It seems to reproduce only when you hit the "Restart Site" button in the Kudu "Site Extensions" tab. I've opened issue https://github.com/projectkudu/kudu/issues/2888 on Kudu. Closing this one.

[2018-10-16 11:01] #222 closed

[2018-10-16 16:11] #223 closed

[2018-10-16 16:12] muratg commented on #223
Thanks Bala!

[2018-10-18 22:55] #230 closed

[2018-10-18 22:55] #208 closed

[2018-10-23 22:05] jkotalik opened #242 "Change default location of ANCM debug logs in site extensions"
Based on docs conversation: https://github.com/aspnet/Docs/pull/9180#discussion_r227580128, we should remove the value attribute which would change the default log location to %HOME%\LogFiles\aspnetcore-debug.log. https://github.com/aspnet/AzureIntegration/blob/master/extensions/Microsoft.AspNetCore.Runtime.SiteExtension/applicationHost.xdt#L13. Also amcm is misspelled, but that will be removed 😄

[2018-10-23 23:29] pakrym commented on #242
That file is not used anymore and debug setting is removed:  https://github.com/aspnet/AspNetCore/blob/master/src/SiteExtensions/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/applicationHost.xdt

[2018-10-23 23:34] #236 closed

[2018-10-25 17:15] pakrym opened #243 "Runtime site extension doesn't include AspNetCore runtime"

[2018-10-25 18:30] #243 closed

[2018-10-25 18:48] #242 closed

[2018-10-25 18:52] pakrym commented on #108
I don't think there is any work for us here as AI team now owns both site extension and hosting startup.

[2018-10-25 18:52] #108 closed

[2018-10-25 18:53] pakrym commented on #35
I don't think this issue is relevant anymore.

[2018-10-25 18:53] #35 closed

[2018-10-25 18:55] pakrym commented on #63
The page itself is not a bad idea.
I'm just worried about the discoverability of this page.

[2018-10-25 22:08] Eilon commented on #63
Not an urgent issue. Feel free to close.

[2018-10-25 22:08] Eilon commented on #63
And no one else complained.

[2018-10-25 22:12] #63 closed

[2018-10-25 22:12] #209 closed

[2018-10-29 16:51] pakrym commented on #227
Done and verified with `2.2.0-rtm-181024-06`.

[2018-10-29 16:55] #227 closed

[2018-10-29 17:07] pakrym commented on #161
Renamed `ASP.NET Core Extensions` to `ASP.NET Core Logging Extensions` as part of https://github.com/aspnet/AzureIntegration/issues/227

[2018-10-29 17:07] #161 closed

[2018-11-04 16:01] Tratcher commented on #176
Another hit: https://github.com/aspnet/Security/issues/1901

[2018-11-05 19:18] shirhatti commented on #176
cc @bradygaster

[2018-11-16 18:32] muratg commented on #54
Closing this. If there's need, we'll consider again.

[2018-11-16 18:32] #54 closed

[2018-11-16 18:33] muratg commented on #102
AppInsights owns their own hosting startup stuff.

[2018-11-16 18:33] #102 closed

[2018-11-16 18:33] muratg commented on #140
We don't expect to do any changes here.

[2018-11-16 18:33] #140 closed

[2018-11-16 18:34] muratg commented on #175
@glennc closing this as we're prepping for the mondo repo. If you still care about it, please ping me or file an issue in aspnetcore repo.

[2018-11-16 18:34] #175 closed

[2018-11-20 08:05] natemcmaster commented on #120
Incidentally resolved with #254

[2018-11-20 08:05] #120 closed